.menu-container{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.1 ) 0px 4px 12px;
    height: 90px;
}

.titulo-tienda{
    margin-left: 50px;
    color: blanchedalmond;
    font-size: 35px;
}

.menu-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    text-decoration: none;
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 20px;
}

